<%- include('ek/header', {bot, user, path}) %>

<div class="post post-single">
                  <br>
                        <div class="post-meta">
                            <div align="center"><span class="yapimci"><i class="fa fa-clock-o"></i> <strong>PRODUCER </strong><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></span><a style="color:#222"> | </a>
                            <span class="oy"><a class="oy"><i class="fa fa-star"></i> <%=bot.ayar.fetch(`botlar.${id}.oy`) || 0%> OY </a></span>
                        <% if(bot.ayar.has(`botlar.${id}.sertifika`) === true) { %>
                            | <span><img src="https://cdn2.iconfinder.com/data/icons/rewards-1/512/medal-512.png" width="20px" height="20px"> <a style="color:darkorange">Certificate</a></span>
                         <% } %>
                          </div>
                        </div><br>
                        <div class="post-thumbnail">
                            <div align="center"><img src="<%=bot.ayar.fetch(`botlar.${id}.avatar`)%>"
                                width="300" height="300" class="botavatar"><h3 class="botisim"><%=bot.ayar.fetch(`botlar.${id}.isim`)%></h3><h5 class="kisaaciklama"><%=bot.ayar.fetch(`botlar.${id}.kisaaciklama`)%></h5></div>
                          
        
          
      <%if (bot.ayar.has(`botlar.${id}.destek`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.destek`)%>"><button class="btn btn-warning destek">Support Server</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.site`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.site`)%>"><button class="btn btn-warning website">Web Site</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.github`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.github`)%>"><button class="btn btn-warning github">GitHub</button></a>
            <%} %>
          </div>
      <div align="center">                    
  
            
          <a href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8"><button class="btn btn-success davetet"><i aria-hiddden="true"></i> Invite</button></a>
        <a href="/bot/<%=id%>/rapor"><button class="btn btn-danger rapor"><i aria-hidden="true"></i>Report</button></a>
                  <a href="/bot/<%=id%>/oyver"><button id="oy" href="/bot/<%=id%>/oyver" class="btn btn-primary oyver" type="sumbit"><i aria-hidden="true"></i><i class="fa fa-check-circle" aria-hidden="true"></i> Oy Ver</button></a>

        
          <% if (user) { %>
          <% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
          <a href="/kullanici/<%=user.id%>/panel/<%=id%>/duzenle"><button class="btn btn-primary duzenle"><i aria-hiddden="true"></i>Edit</button></a>
        <a href="/kullanici/<%=user.id%>/panel/<%=id%>/sil"><button class="sil btn btn-danger"><i aria-hidden="true"></i>Delete</button></a>
          <% } %>
        <% } %>
                      
 
  <br></div>
          <a href="/bot/<%=id%>/oyver"><button id="oy" href="/bot/<%=id%>/oyver" class="btn btn-primary oyver" type="sumbit"><i aria-hidden="true"></i><i class="fa fa-check-circle" aria-hidden="true"></i> Oy Ver</button></a>

        
        </div><br>
          <div class="post-actions">
                  <div class="post-tags">
                    <div align="center">
                      <%if(Array.isArray(bot.ayar.fetch(`botlar.${id}.etiket`)) === false) {%>
                      <span class="etiket btn-btn-default"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)%></a></span>
                      <% } else { %>
                      <% for(var xx = 0; xx < bot.ayar.fetch(`botlar.${id}.etiket`).length; xx++) {%>
                      <span class="etiket btn btn-default"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)[xx]%></a></span>
                    <% }%>
                      <% }%>
                    </div>
                   </div>
              </div>
      </div>
</div>

<% include ./ek/footer %>