<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <div align="center" class="jumbotron">
    <%
    var txt = `${kisi.username}#${kisi.discriminator} Click to see 's profile`
    if (user) {
      if (user.id === kisi.id) {
        var txt = `CLICK TO SEE YOUR PROFILE`
      }
    }
    %>
       <img src="https://cdn.discordapp.com/avatars/<%=kisi.id%>/<%=kisi.avatar%>.png?size=512" class="rounded-circle panell">
       <h5 style="color:#fff"><%=kisi.username%>#<%=kisi.discriminator%></h5>
   <br>
       <% if (user) { %>
       <% if (user.id === kisi.id) { %>
       <a href="/kullanici/<%=kisi.id%>/panel" class="btn btn-default" style="background-color:#99AAB5; color:#fff">CLICK TO GO TO THE PANEL</a>
       <% } %>
       <% } %>
  </div>
</div>
</div></div>
<% include ./ek/footer %>