<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <form method="POST">
  <div align="center" class="jumbotron" style="color:#fff">

       <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=512" class="rounded-circle panell">
       <h3 style="color:#fff"><%=user.username%>#<%=user.discriminator%></h3>
    <br>
       <h5 style="color:#fff">PROFILE ADJUSTMENT</h5>

    <div><i aria-hidden="true"></i>YOUR NAME <a style="color:red">*</a></div>
    <div>
    <input type="text" style="text-align: center;" name="isim" id="isim" required="required">
    </div>
    <br>

    <div><i aria-hidden="true"></i>YOUR AGE </div>
    <div>
    <input type="text" style="text-align: center;" name="yas" id="yas">
    </div>
    <br>

    <div><i aria-hidden="true"></i>BIOGRAPHY </div>
    <div>
    <input type="text" style="text-align: center;" name="biyo" id="biyo" required="required">
    </div>
</div>
    
       
        <div style="width: 100%; text-align: center; margin-top: 20px;">
        <button style="border-radius: 100px; background-color:#99AAB5" type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> KAYDET<i aria-hidden='true'></i></button>
    </div>
</div>
    </form>
</div></div>
<% include ./ek/footer %>
